.container{
    display: inline-grid;
    --tw-bg-opacity: 1;
    background-color: #2e2e2e;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    /* width: 300px;
    height: 300px; */
    grid-row-gap: 20px !important; /* 上下间隔 */
    grid-column-gap: 20px !important; /* 左右间隔 */
    padding: 20px;
    margin-right: 20px;
    color:#fff;
}

.two2 {
   
    background-color: rgb(5, 10, 12)
  }
  .four4 {
    background-color: rgb(5, 10, 12);
  }
  
  .eight8 {
    background-color:  #0a130c;
  }


  .sixtyFour64{background-color:  #0d1014}
  .sixteen16{background-color: #121a14}
  .twentyEight128{background-color: #15140e}
  .thrityTwo32{background-color: #0d1014}
  .twoHundred256{background-color: #15140e}
  .fiveHundred512{background-color: #110f0b}
  .oneThousand1024{background-color: #0f1423;font-size: 24px !important;}
  .twoThousand2048{background-color: #131824;font-size: 24px !important;}
  

  /* background-color: #a6c
  background-color: #93c */
  .cell {
    /* width: 70px;
    height: 70px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
  }
  .trData{
    /* width: 200px;
    display: inline-block;
    text-align: center; */
    margin-top: 12px;
  }
  .trData td:first-child{
   
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 12px;
  }
  .trData td:last-child{
    margin-top: 12px;
    display: inline-block;
  }
  .table {
    /* border-collapse: collapse; */
    border: 1px solid #000;
    margin: 20px;
    border-radius: 10px;
    background: linear-gradient(#565776, #a6a6b0);


  }
  
.tableFooter{
  padding-top: 20px;
}
  
  td, th {
    /* border: 1px solid #000; */
  }
  .PLAY{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Kanit;
    line-height: 1.75;
    min-width: 64px;
    padding: 8px 22px;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border: 2px solid rgb(55, 55, 65);
    border-radius: 10px;
    box-shadow: rgb(55, 55, 65) 0px 10px 0px 0px;
    background-color:  #8083cb;
    text-transform: none;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    height: 80px;
  }
  .conta{
    display: flex;
   
  }
  .transac{
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 20px;
    border: 2px solid rgb(55, 55, 65);
    border-radius: 10px;
    box-shadow: rgb(55, 55, 65) 0px 10px 0px 0px;
    background-color: #76779b;
    max-height: 170px;
    flex: 1 1 0%;
    overflow-y: auto;
    margin-bottom: 36px;
    width: 100%;
  }